body{
    background-color: white;
}
h1{
    color: blue;
    background-color:;
    text-align: center;
    }
div{
    background-color:orange;
    }
    h4{
        text-align: center;
    }
 cite{
     color:red;
 }   
 id{
     color: yellow;
     text-align: center;
 }
 div1{
     background-color:red;
 }
text{
    color:yellow;
}
p{
    text-align: center;
}
h3{
    text-align: center;
}    
